<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals               = "false"
         bootstrap                   = "tests/phpunit.bootstrap.php"
         backupStaticAttributes      = "false"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         stopOnFailure               = "false"
         processIsolation            = "true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <exclude>
      <file>./tests/BaseTest.php</file>
        <directory>./Helpers</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
<!--      <directory suffix="Test.php">./tests/Unit</directory>-->
    </testsuite>
    <testsuite name="Integration">
        <directory suffix="Test.php">./Integration</directory>
    </testsuite>

    <testsuite name="Functional">
<!--        <directory suffix="Test.php">./tests/Functional/Messages/Http</directory>-->
    </testsuite>

  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="ENTRADA_PATH" value="../elentra-1x-me/www-root"/>
  </php>
</phpunit>
